.card
  .content
    .header
      = list.title
    .description
      Friends of Veronika ksadlfalskd slkdjf asl;dkf alskdf laksdf l;aksd flkasd lfkas ldkf alskdf laksd flaj dflkasd flkajsdflk jasdlfk alskd flkajsd f
    .extra-content
