
.ui.mini.modal#invite-form
  .header
    Send Invitation
  .content
    = simple_form_for invite, class: 'ui form' do |f| 
      = f.hidden_field :invitable_type
      = f.hidden_field :invitable_id
      .field
        = f.input :email, placeholder: 'email', label: false
      %button{type:"submit", class: "ui green ok inverted button"}
        Invite
