.row
  .six.wide.column.centered
    = simple_form_for [@task.list, @task], class: 'ui form' do |f|
      .field
        = f.input :title
      .field
        = f.input :description
      = f.button :submit, class: 'ui green ok inverted button'
