
.row
  .six.wide.column.centered
    .ui.padded.segment
      %h4.ui.header
        = @task.title
      = link_to 'Add Member', '', class: 'ui tiny button'
      = link_to 'Add Checklist', '', class: 'ui tiny button'
