---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"test project"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 9562e7a0638f14e3c4ad1648bb98e92652b9bafa
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1509717754'
      Etag:
      - '"9f1186cda3b3817e7c557373ecd99c6e"'
      X-Oauth-Scopes:
      - delete_repo, repo, user
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      Location:
      - https://api.github.com/repos/samy-limbu/test-project
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":109396944,"name":"test-project","full_name":"samy-limbu/test-project","owner":{"login":"samy-limbu","id":32664189,"avatar_url":"https://avatars2.githubusercontent.com/u/32664189?v=4","gravatar_id":"","url":"https://api.github.com/users/samy-limbu","html_url":"https://github.com/samy-limbu","followers_url":"https://api.github.com/users/samy-limbu/followers","following_url":"https://api.github.com/users/samy-limbu/following{/other_user}","gists_url":"https://api.github.com/users/samy-limbu/gists{/gist_id}","starred_url":"https://api.github.com/users/samy-limbu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/samy-limbu/subscriptions","organizations_url":"https://api.github.com/users/samy-limbu/orgs","repos_url":"https://api.github.com/users/samy-limbu/repos","events_url":"https://api.github.com/users/samy-limbu/events{/privacy}","received_events_url":"https://api.github.com/users/samy-limbu/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/samy-limbu/test-project","description":null,"fork":false,"url":"https://api.github.com/repos/samy-limbu/test-project","forks_url":"https://api.github.com/repos/samy-limbu/test-project/forks","keys_url":"https://api.github.com/repos/samy-limbu/test-project/keys{/key_id}","collaborators_url":"https://api.github.com/repos/samy-limbu/test-project/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/samy-limbu/test-project/teams","hooks_url":"https://api.github.com/repos/samy-limbu/test-project/hooks","issue_events_url":"https://api.github.com/repos/samy-limbu/test-project/issues/events{/number}","events_url":"https://api.github.com/repos/samy-limbu/test-project/events","assignees_url":"https://api.github.com/repos/samy-limbu/test-project/assignees{/user}","branches_url":"https://api.github.com/repos/samy-limbu/test-project/branches{/branch}","tags_url":"https://api.github.com/repos/samy-limbu/test-project/tags","blobs_url":"https://api.github.com/repos/samy-limbu/test-project/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/samy-limbu/test-project/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/samy-limbu/test-project/git/refs{/sha}","trees_url":"https://api.github.com/repos/samy-limbu/test-project/git/trees{/sha}","statuses_url":"https://api.github.com/repos/samy-limbu/test-project/statuses/{sha}","languages_url":"https://api.github.com/repos/samy-limbu/test-project/languages","stargazers_url":"https://api.github.com/repos/samy-limbu/test-project/stargazers","contributors_url":"https://api.github.com/repos/samy-limbu/test-project/contributors","subscribers_url":"https://api.github.com/repos/samy-limbu/test-project/subscribers","subscription_url":"https://api.github.com/repos/samy-limbu/test-project/subscription","commits_url":"https://api.github.com/repos/samy-limbu/test-project/commits{/sha}","git_commits_url":"https://api.github.com/repos/samy-limbu/test-project/git/commits{/sha}","comments_url":"https://api.github.com/repos/samy-limbu/test-project/comments{/number}","issue_comment_url":"https://api.github.com/repos/samy-limbu/test-project/issues/comments{/number}","contents_url":"https://api.github.com/repos/samy-limbu/test-project/contents/{+path}","compare_url":"https://api.github.com/repos/samy-limbu/test-project/compare/{base}...{head}","merges_url":"https://api.github.com/repos/samy-limbu/test-project/merges","archive_url":"https://api.github.com/repos/samy-limbu/test-project/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/samy-limbu/test-project/downloads","issues_url":"https://api.github.com/repos/samy-limbu/test-project/issues{/number}","pulls_url":"https://api.github.com/repos/samy-limbu/test-project/pulls{/number}","milestones_url":"https://api.github.com/repos/samy-limbu/test-project/milestones{/number}","notifications_url":"https://api.github.com/repos/samy-limbu/test-project/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/samy-limbu/test-project/labels{/name}","releases_url":"https://api.github.com/repos/samy-limbu/test-project/releases{/id}","deployments_url":"https://api.github.com/repos/samy-limbu/test-project/deployments","created_at":"2017-11-03T13:10:12Z","updated_at":"2017-11-03T13:10:12Z","pushed_at":"2017-11-03T13:10:13Z","git_url":"git://github.com/samy-limbu/test-project.git","ssh_url":"git@github.com:samy-limbu/test-project.git","clone_url":"https://github.com/samy-limbu/test-project.git","svn_url":"https://github.com/samy-limbu/test-project","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"network_count":0,"subscribers_count":0}'
  recorded_at: Fri, 03 Nov 2017 13:10:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/samy-limbu/test-project
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 9562e7a0638f14e3c4ad1648bb98e92652b9bafa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1509717754'
      Etag:
      - W/"9f1186cda3b3817e7c557373ecd99c6e"
      Last-Modified:
      - Fri, 03 Nov 2017 13:10:12 GMT
      X-Oauth-Scopes:
      - delete_repo, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":109396944,"name":"test-project","full_name":"samy-limbu/test-project","owner":{"login":"samy-limbu","id":32664189,"avatar_url":"https://avatars2.githubusercontent.com/u/32664189?v=4","gravatar_id":"","url":"https://api.github.com/users/samy-limbu"[...]
- request:
    method: delete
    uri: https://api.github.com/repos/samy-limbu/test-project
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 9562e7a0638f14e3c4ad1648bb98e92652b9bafa
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/octet-stream
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1509717754'
      X-Oauth-Scopes:
      - delete_repo, repo, user
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 03 Nov 2017 13:10:16 GMT
recorded_with: VCR 3.0.3
