.ui.container
  %nav.ui.large.secondary.menu
    %h3.header.logo
      = link_to 'Works Tracker', root_path

    .right.menu
    - if user_signed_in?
      = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'item'
    - else
      = link_to 'Sign in', new_user_session_path, class: 'item'
      = link_to 'Sign up', new_user_registration_path, class: 'item'
