.ui.text.container.center.aligned
  %section#hero
    %h1.ui.header
      Simple Solution
      %br
      for Managing your Projects

    %p
      Manage your projects and client without any
      distraction

