.container
  %section#hero.row.justify-content-center
    .col
      %h1.text-center
        Simple Solution
        %br
        for Managing your Projects

      %p.text-center
        Manage your projects and client without any
        distraction

