%section.row
  .column
    .ui.four.cards
      =link_to new_project_path, class: "card" do
        .content
          .center.aligned
            %i.plus.circle.icon
            Create New Project

      - @projects.each do |project|
        =link_to project_path(project), class: "card" do
          .content
            .header= project.title
            .description= project.description
