.sixteen.wide.column
  .ui.three.column.centered.grid
    .column
      .ui.segment
        .ui.header
          Create New Project
        = simple_form_for @project, class: 'ui form' do |f|
          .field
            = f.input :title, label: 'Title'
            = f.input :description, label: 'Description'

          = f.submit 'Save', class: "ui primary button"

