%section.container
  %h2= @project.title

  %section.stakeholder
    - @project.stakeholders.each do |stakeholder|
      = render partial: 'stakeholder', object: stakeholder

  = link_to "Invite people to join this project", new_invitation_path, class: 'btn btn-primary'
