%section.container
  %h2
    = @project.title
  %p
    to start working on the project please clone it from your terminal:
  %p
    = "git clone: #{@project.repository_clone_url}"

  %p Invite your client to join this project
