---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"auto_init":true,"name":"my-repo"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 9562e7a0638f14e3c4ad1648bb98e92652b9bafa
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1509067398'
      Etag:
      - '"9cc51816c7c538f7c7de4c8dea632d7b"'
      X-Oauth-Scopes:
      - delete_repo, repo, user
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      Location:
      - https://api.github.com/repos/samy-limbu/my-repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":108482948,"name":"my-repo","full_name":"samy-limbu/my-repo","owner":{"login":"samy-limbu","id":32664189,"avatar_url":"https://avatars2.githubusercontent.com/u/32664189?v=4","gravatar_id":"","url":"https://api.github.com/users/samy-limbu","html_url":"https://github.com/samy-limbu","followers_url":"https://api.github.com/users/samy-limbu/followers","following_url":"https://api.github.com/users/samy-limbu/following{/other_user}","gists_url":"https://api.github.com/users/samy-limbu/gists{/gist_id}","starred_url":"https://api.github.com/users/samy-limbu/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/samy-limbu/subscriptions","organizations_url":"https://api.github.com/users/samy-limbu/orgs","repos_url":"https://api.github.com/users/samy-limbu/repos","events_url":"https://api.github.com/users/samy-limbu/events{/privacy}","received_events_url":"https://api.github.com/users/samy-limbu/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/samy-limbu/my-repo","description":null,"fork":false,"url":"https://api.github.com/repos/samy-limbu/my-repo","forks_url":"https://api.github.com/repos/samy-limbu/my-repo/forks","keys_url":"https://api.github.com/repos/samy-limbu/my-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/samy-limbu/my-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/samy-limbu/my-repo/teams","hooks_url":"https://api.github.com/repos/samy-limbu/my-repo/hooks","issue_events_url":"https://api.github.com/repos/samy-limbu/my-repo/issues/events{/number}","events_url":"https://api.github.com/repos/samy-limbu/my-repo/events","assignees_url":"https://api.github.com/repos/samy-limbu/my-repo/assignees{/user}","branches_url":"https://api.github.com/repos/samy-limbu/my-repo/branches{/branch}","tags_url":"https://api.github.com/repos/samy-limbu/my-repo/tags","blobs_url":"https://api.github.com/repos/samy-limbu/my-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/samy-limbu/my-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/samy-limbu/my-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/samy-limbu/my-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/samy-limbu/my-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/samy-limbu/my-repo/languages","stargazers_url":"https://api.github.com/repos/samy-limbu/my-repo/stargazers","contributors_url":"https://api.github.com/repos/samy-limbu/my-repo/contributors","subscribers_url":"https://api.github.com/repos/samy-limbu/my-repo/subscribers","subscription_url":"https://api.github.com/repos/samy-limbu/my-repo/subscription","commits_url":"https://api.github.com/repos/samy-limbu/my-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/samy-limbu/my-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/samy-limbu/my-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/samy-limbu/my-repo/issues/comments{/number}","contents_url":"https://api.github.com/repos/samy-limbu/my-repo/contents/{+path}","compare_url":"https://api.github.com/repos/samy-limbu/my-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/samy-limbu/my-repo/merges","archive_url":"https://api.github.com/repos/samy-limbu/my-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/samy-limbu/my-repo/downloads","issues_url":"https://api.github.com/repos/samy-limbu/my-repo/issues{/number}","pulls_url":"https://api.github.com/repos/samy-limbu/my-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/samy-limbu/my-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/samy-limbu/my-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/samy-limbu/my-repo/labels{/name}","releases_url":"https://api.github.com/repos/samy-limbu/my-repo/releases{/id}","deployments_url":"https://api.github.com/repos/samy-limbu/my-repo/deployments","created_at":"2017-10-27T01:12:06Z","updated_at":"2017-10-27T01:12:06Z","pushed_at":"2017-10-27T01:12:07Z","git_url":"git://github.com/samy-limbu/my-repo.git","ssh_url":"git@github.com:samy-limbu/my-repo.git","clone_url":"https://github.com/samy-limbu/my-repo.git","svn_url":"https://github.com/samy-limbu/my-repo","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"network_count":0,"subscribers_count":0}'
  recorded_at: Fri, 27 Oct 2017 01:12:08 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/samy-limbu/my-repo
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 9562e7a0638f14e3c4ad1648bb98e92652b9bafa
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/octet-stream
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1509067398'
      X-Oauth-Scopes:
      - delete_repo, repo, user
      X-Accepted-Oauth-Scopes:
      - delete_repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Oct 2017 01:12:09 GMT
recorded_with: VCR 3.0.3
