%section.container
  .row
    .col-sm-10
      %form
        %header
          %h1 Create new project

        %fieldset.form-group
          %label Title
          %input

        %fieldset.form-group
          %legend Create a new Github Repo for this project
          %label Repository name
          %input
          %label Repository description
          %input

        %input(type="submit" value="Save" class="btn btn-default")
