.container
  .row
    .col-sm
      = button_to "I want to work as a Freelancer", roles_path, params: { role: "freelancer" }, class: "btn btn-primary"
    .col-sm
      = button_to "I want to work as a Client", roles_path, params: { role: "client" }, class: "btn btn-primary"
